{% extends "base.html" %}

{% block content %}
  <div class="signup-container">
  <h2>新規登録</h2>
  <form method="post">
    {% csrf_token %}
    <div class="signup-field">
       {{ form.username }}<br>
       {{ form.username.label_tag }}<br>
       <input type="text" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" maxlength="15" value="{{ form.username.value|default_if_none:'' }}"> <br>
      <small class="help-text">
        この項目は必須です。<br>
半角アルファベット、半角数字、@/./+/-/_ で15文字以内にしてください。
      </small>
    </div>
    <div class="signup-field">
      {{ form.password1.label_tag }}<br>
      {{ form.password1 }}<br>
      <small class="help-text">
・あなたの個人情報と似ているパスワードにはできません。<br>
・パスワードは最低8文字以上必要です。<br>
・よく使われるパスワードにはできません。<br>
・数字だけのパスワードにはできません。
</small>
    </div>
    <div class="signup-field">
      {{ form.password2.label_tag }}<br>
      {{ form.password2 }}<br>
      <small class="help-text">
        確認のため、再度パスワードを入力してください。
      </small>
    </div>
    <button type="submit">登録</button>
  </form>
  </div>
{% endblock content %}