{% extends 'base.html' %}
{% load static %}
{% block title %}映画一覧{% endblock %}

{% block content %}
<h1>映画一覧</h1>
<div class="movie-grid">
  {% for movie in movies %}
    <div class="movie-card">
      {% if movie.image %}
        <img src="{{ movie.image.url }}" alt="{{ movie.title }}">
      {% else %}
        <img src="{% static 'images/default_poster.jpg' %}" alt="No Image">
      {% endif %}
      <h2>{{ movie.title }}</h2>
      <p><a href="{% url 'reviews:movie_detail' movie.pk %}">映画詳細ページ</a></p>
      <div class="btn-group">
        <a class="btn btn-detail" href="{% url 'reviews:movie_detail' movie.pk %}">詳細を見る</a>
        {% if user.is_staff %}
          <a class="btn btn-edit" href="{% url 'reviews:movie_update' movie.pk %}">編集</a>
          <a class="btn btn-delete" href="{% url 'reviews:movie_delete' movie.pk %}">削除</a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">前へ</a>
  {% endif %}
  <span>ページ {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">次へ</a>
  {% endif %}
</div>
{% endblock %}