{% extends "base.html" %}

{% block content %}
  <h1>映画一覧</h1>
  <div class="admin-link">
    <a class="btn btn-secondary" href="{% url 'admin:index' %}" target="_blank" rel="noopener">管理サイトへ</a>
  </div>
  <ul class="movie-list">
    {% for movie in movies %}
      <li class="movie-card">
        <img src="{{ movie.image.url }}" class="movie-poster" alt="{{ movie.title }} poster">
        <a href="{% url 'reviews:movie_detail' movie.id %}" class="detail-btn">(映画詳細へ)</a>
        <a href="{% url 'reviews:movie_detail' movie.id %}" class="btn btn-link movie-title">{{ movie.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock content %}