{% extends 'base.html' %}
{% block title %}レビュー編集{% endblock %}

{% block content %}
<div class="review-create-container">
<h1>レビュー編集</h1>
<form method="post">
  {% csrf_token %}
  <p><label for="{{ form.rating.id_for_label }}">評価点</label> {{ form.rating }}</p>
  <p>{{ form.comment.label_tag }} {{ form.comment }}</p>
  <div class="review-actions">
    <button type="submit" name="action" value="update">更新する</button>
    <a href="{% url 'reviews:movie_detail' review.movie.pk %}" class="cancel-btn">キャンセル</a>
    <button type="submit" name="action" value="delete_review">レビュー削除</button>
  </div>
</form>
</div>
{% endblock %}