{% extends 'base.html' %}
{% block title %}レビュー編集{% endblock %}

{% block content %}
<h1>レビュー編集</h1>
<form method="post">
  {% csrf_token %}
  <p>{{ form.rating.label_tag }} {{ form.rating }}</p>
  <p>{{ form.comment.label_tag }} {{ form.comment }}</p>
  <button type="submit" name="action" value="update">更新する</button>
  <a href="{% url 'reviews:movie_detail' review.movie.pk %}" style="margin-left:1em;">キャンセル</a>
  <button type="submit" name="action" value="delete_comment" style="margin-left:1em;">コメント削除</button>
</form>
{% endblock %}